absl-py==0.12.0
altgraph==0.17
attrs==21.2.0
auto-py-to-exe==2.8.0
autopep8==1.5.7
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.5
Eel==0.12.4
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
mediapipe==0.8.4.2
numpy==1.20.3
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
pefile==2019.4.18
protobuf==3.17.1
pycodestyle==2.7.0
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pywin32-ctypes==0.2.0
six==1.16.0
tk==0.1.0
toml==0.10.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
